* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

.hero{
    height: calc(100vh - 55px);
}

.b{
    scrollbar-width: none;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    scrollbar-width: none;  
  }

